.heading-add-product{
    text-align: center;
}

.form-container{
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #ccc;
    width: 500px;
    display: block;
    margin: 10px auto;
    padding: 10px;
}
.form-input{
    font-size: 20px;
    width: 300px;
    display: block;
    margin: 1px auto;
    padding: 5px;
}
.form-btn{
    font-size: 20px;
    border: none;
    display: block;
    margin: 5px auto;
    background-color: black;
    color: white;
    padding: 5px 8px 8px;
    border-radius: 10px;

}