.text-center{
    text-align: center;
    font-size: 40px;
}
.product-detail-conatiner{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    flex-wrap: wrap;

}.product-image{
    height: 200px;
}
.product-name{
    text-align: center;
    font-size: 30px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.description{
    font-size: 25px;
    text-align: justify;
}
.product-detail-conatiner{
    box-shadow: 0 0 10px 0 #ccc;
    margin: 30px;
    padding: 15px;
    
}